<html>
  <head>
    <title> test </title>
  </head>
  <body>
    {{> (lookup this "partial") }}
    <div> {{ hej }} </div>
    <div> {{ path }} </div>
    <div> url: {{ url }} </div>
    {{ #if more }}
      <div> {{ more }} mer </div>
    {{ /if }}
    <div> <a href="{{ href }}"> test file </a> </div>
    <div> date: {{ date }} </div>
    <div> sist </div>
  </body>
</html>

